@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To E-Gym</h1>
    <p>Buy The Best Gym Gear And Supplements To <b>MAXIMISE YOUR GAINS!</b></p>
</div>
